*{
    background-color: #fff;
}

.icons {
    color: #135846;
    padding: 2rem;
    background-color:  #fff;
}

.DashboardText {
    font-family: "Poppins", sans-serif;
    padding-left: 3rem;
    
    
}

.menuicon {
    padding-right: 1rem;
}

