*{
    background-color: #f8f8f8;
    margin: 0 auto;
    padding: 0;
}

.icons {
    color: #135846;
    padding: 2rem;
    background-color:  #ffff;
    cursor: pointer;
}


.menuicon {
    padding-right: 1rem;
    background-color:  #ffff;
    font-size: 2.5rem;
    
}

.list-link {
text-decoration: none; 
color: inherit; 
display: block;
}

.list-link:hover {
    border-left: 3px solid red;
    color: red;
}







