*{
    background-color: #f8f8f8;
}

.icons {
    color: #135846;
    padding: 2rem;
    background-color:  #ffff;
    cursor: pointer;
}



.DashboardText {
    font-family: "Poppins", sans-serif;
    padding-left: 3rem;
    background-color:  #ffff;
    
    
}

.menuicon {
    padding-right: 1rem;
    background-color:  #ffff;
    
}

.list-link {
display: block;
}

.list-link:hover {
    border-left: 3px solid red;
    color: red;
}

.iconContainer {
   margin: auto 0;
    align-items: center;
    background-color:  #fff;

    
}



